@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Yorum Listesi / </span> Yorumlar</h4>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı</th>
        <th>Rota</th>
        <th>Tarih</th>
        <th>Sil</th>
        @*<th>Güncelle</th>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CommentID</td>
            <td>@item.CommentUser</td>
            <td>@item.Destination.City</td>
            <td>
                @(((DateTime)item.CommentDate).ToString("dd-MM-yyyy"))
            </td>
            <td><a href="/Admin/Comment/DeleteComment/@item.CommentID" class="btn btn-outline-danger">Sil</a></td>
            @*<td><a href="/Admin/Destination/UpdateDestination/@item.CommentID" class="btn btn-outline-success">Güncelle</a></td>*@
        </tr>
    }
</table>

@*<a href="/Admin/Comment/AddComment" class="btn btn-outline-primary">Yeni Tur Rotası Ekle</a>*@
