@{
    ViewData["Title"] = "PDf";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">PDF Dosyası Sayfası </span> </h4>
<a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-dark">Statik Pdf Rapor</a>
<a href="/PdfReport/TablePdfReportStatikCustomer/" class="btn btn-outline-dark">Müşteriler Pdf Rapor</a>