@{
    ViewData["Title"] = "Excel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Excel Dosyası Sayfası </span> </h4>
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-dark">Statik Excel Rapor</a>
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-dark">Tur Rotaları Excel Rapor</a>