@model TraversalCoreProject.CQRS.Results.DestinationResults.GetDestinationByIdQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>CQRS Get Destination By ID </h1>
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Rota Güncelleme Sayfası / </span> Rotalar</h4>
<form method="post">
    @Html.HiddenFor(x=>x.Destinationid)
    <div class="form-group">
        @Html.Label("Şehir")
        <input type="text" asp-for="City" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Gün Gece")
        <input type="text" asp-for="Daynight" class="form-control" />
    </div>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>
