@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
<h1>404 Sayfa bulunamadı</h1>
<h2><a href="/Default/Index/">Anasayfaya Dön</a></h2>
</body>
</html>
