@model TraversalCoreProject.CQRS.Commands.GuideCommands.CreateGuideCommand
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Rehber Bİlgi Ekleme Yeni Sayfası </h1>
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Rota Güncelleme Sayfası / </span> Rotalar</h4>
<form method="post">
    <div class="form-group">
        @Html.Label("Ad Soyad")
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Rehber Açıklaması")
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <br />
    <button class="btn btn-outline-primary">Ekle</button>
</form>
<br />
<a href="/Admin/GuideMediaTR/Index" class="btn btn-outline-primary">Listele Rehberleri</a>
