@using TraversalCoreProject.Areas.Admin.Models;
@model IEnumerable<BookingExchange2ViewModel.Exchange_Rates>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>DovizBilgisi</h1>

<table class="table table-bordered">
    <tr>
        <th>Kur adı</th>
        <th>Kur Oranı</th>
    </tr>
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.exchange_rate_buy</td>
                <td>@item.currency</td>
            </tr>
    }
</table>
<hr />
<a href="/Admin/Announcemet/AddAnnouncemet">Yeni Ekle</a>

