@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h1>Booking Hotel Search Şehir Id Getir</h1>
    <br />
    <label>Şehir Adını Giriniz</label>
    <br />
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-primary">Şehir Id Getir</button>
</form>


