@using TraversalCoreProject.Areas.Admin.Models;
@model IEnumerable<BookingHotelSearchViewModel.Result>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    double score;
}

<h1>Booking Search Hotel API</h1>
<h2>Arama Yapılan Şehir : Paris/Fransa</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Otel Adı</th>
        <th>Otel Puanı</th>
        <th>Otel Değerlendirmesi</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.hotel_id</td>
            <td>@item.hotel_name</td>
            @{
                score = double.Parse(item.review_score.ToString()) / 10;
                <td>@score</td>
            }            

            @{
                if (item.review_score_word == "Very good")
                {
                    <td>Çok İyi</td>
                }
                else if (item.review_score_word == "Good")
                {
                    <td>İyi</td>
                }
                else if (item.review_score_word == "Fabulous")
                {
                    <td>Harika</td>
                }

            }

                
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<hr />
<a href="/Admin/Announcemet/AddAnnouncemet">Yeni Ekle</a>


