@model TraversalCoreProject.Areas.Admin.Models.VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ziyaretçi Güncelleme</h1>

<form method="post">
    <label>Id : </label>
    <input type="hidden" asp-for="VisitorId"/>
    <hr />
    <label>Ad: </label>
    <input type="text" asp-for="Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    <hr/>
    <label>Soyad : </label>
    <input type="text" asp-for="Surname"/>
    <span asp-validation-for="Surname" class="text-danger"></span>
    <hr/>
    <label>Email : </label>
    <input type="text" asp-for="Mail"/>
    <span asp-validation-for="Mail" class="text-danger"></span>
    <hr/>
    <label>Şehir : </label>
    <input type="text" asp-for="City"/>
    <span asp-validation-for="City" class="text-danger"></span>
    <hr/>
    <label>Ülke : </label>
    <input type="text" asp-for="Country"/>
    <span asp-validation-for="Country" class="text-danger"></span>
    <hr/>
    <button type="submit">Güncelle</button>
</form>
