@model TraversalCoreProject.Areas.Admin.Models.AccountViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Unit OF Work Personel Prim Transferi</h1>

<form method="post">
    <label>Gönderen</label>
    <hr />
    <input type="text" asp-for="SenderId"/>
    <hr/>
    <label>Alıcı</label>
    <hr />
    <input type="text" asp-for="ReciverId" />
    <hr/>
    <label>Miktar</label>
    <hr />
    <input type="text" asp-for="Amount" />
    <hr />
    <button value="Aktar"></button>
</form>
