@model AnnouncemetAddDTO
@{
    ViewData["Title"] = "AddAnnouncemet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Ekleme Sayfası</h1>

<form method="post">
    <label>Duyuru Başlığı : </label>
    <input type="text" asp-for="Title"/>
    <span asp-validation-for="Title" class="text-danger"></span>
    <hr/>
    <label>Duyuru İçeriği : </label>
    <input type="text" asp-for="Content" />
    <span asp-validation-for="Content" class="text-danger"></span>
    <hr />
    <button type="submit">Ekle</button>
</form>
