@model List<DTOLayer.DTOs.AnnouncemetDTOs.AnnouncemetListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Listesi</h1>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnnouncemetId</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td><a href="/Admin/Announcemet/DeleteAnnouncemet/@item.AnnouncemetId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Announcemet/UpdateAnnouncemet/@item.AnnouncemetId" class="btn btn-outline-dark">Güncelle</a></td>
        </tr>
    }
</table>
<hr/>
<a href="/Admin/Announcemet/AddAnnouncemet">Yeni Ekle</a>